body{
    font-family: 'Raleway', sans-serif;
}
section{
    display: flex;
}
.first-section{
    margin-top: 90px;
}
.vertical {
    width: .5%;
    height: 110px;
    background-color: #1e90ff;
    margin-left: 10%;
    margin-top: 75px;
    margin-right: 5px;
    border-radius: 5px;
}

h1{
    font-size: 45px;
    letter-spacing: 1.5px;
}
.mine{
    margin-left: -15px;
}
.myself{
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 35px;
}
.mission{
    color: #70a1ff;
}
.first-half{
    width: 50%;
    margin-top: 40px;

}
.second-half{
    width: 50%;
}
.second-half img{
    width: 75%;
    margin-left: 5%;
}

.me-button{
    text-decoration: none;
    color: white;
    background-color: #70a1ff;
    padding: 10px 25px;
    border-radius: 4px;
    margin-bottom: 55px;
}
.myself1{
    font-size: 20px;
    line-height: 25px;
    margin-top: 35px;
}


/****2nd section*****/

.my-mission{
    text-align: center;
    margin-top: 70px;
    font-size: 50px;
}
.twenty-two{
    color: #70a1ff;

}

.second-section{
    margin-left: 135px;
    margin-right: 125px;
}
.main-one{
    width: auto;
}
.box-one{
    width: 33%;
    border: 1px solid hsla(241, 53%, 63%, 0.274);
    margin-right: 20px;
    padding-left: 25px;
    padding-right: 20px;
    background-color: hsla(241, 53%, 63%, 0.219);
    border-radius: 20px;
}
.box-two{
    width: 33%;
    border: 1px solid hsla(198, 74%, 54%, 0.377);
    margin-right: 20px;
    padding-left: 25px;
    padding-right: 20px;
    background-color: hsla(198, 74%, 54%, 0.349);
    border-radius: 20px;
}
.box-three{
    width: 33%;
    border: 1px solid #ff525252;
    padding-left: 25px;
    padding-right: 20px;
    background-color: #ff52524b;
    border-radius: 20px;
}
.box-h{
    font-size: 25px;
}
.box-img{
    width: 180px;
}


/*****section-three*****/

.third-section{
    margin-top: 110px;
    margin-left: 129px;
    margin-right: 90px;
}
.develop-img{
    width: 35%;
    margin-right: 55px;
}
.developer{
    width: 100%;
}
.develop-content{
    width: 65%;
    margin-top: 65px;
}
.develop-hh{
    font-size: 35px;
    font-weight: bold;
}
.develop-p{
    font-size: 20px;
    margin-bottom: 35px;
}
.develop-bt{
    text-decoration: none;
    color: white;
    background-color: #70a1ff;
    padding: 10px 25px;
    border-radius: 4px;
    margin-bottom: 55px;
    
}
